
*.pdf
.vscode
tp_DLP/xsimd/

tp_TLP/exo_2

tp_TLP/exo_3

tp_DLP/sim

*.wav

*.a

*.so

*.28

*.1

tp_GPU/splitting

tp_GPU/V0

tp_GPU/V0CPP

tp_GPU/V1

tp_GPU/V1_transpose

tp_GPU/V2

tp_GPU/V3

tp_GPU/vecvec

TP_NLP/main_1

TP_NLP/main_2

TP_NLP/mpi.h

TP_NLP/crackstation-human-only.txt

tp_pragmatique/data.txt

TP_NLP/realhuman_phill.txt

tp_pragmatique/mean

tp_pragmatique/mean_TLP

tp_pragmatique/data
